@model TuVanDuHoc_v2.Models.AdminUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="col">
        <div class="row">
            <div class="col-md-3">
                <img width="250" height="250" src="~/Images/admin.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Đăng nhập Admin</h3>
                @using (Html.BeginForm("Login", "Admin"))
                {
                    @Html.AntiForgeryToken()
                    <div class="row mt-2 mb-2">
                        <label for="usrName" class="mb-1">Tài khoản</label>
                        <input type="text" name="usrName" class="form-control" />
                    </div>
                    <div class="row mt-2 mb-2">
                        <label for="Password" class="mb-1">Mật khẩu</label>
                        <input type="password" name="Password" class="form-control" />
                    </div>
                    <div class="text-center mt-4 mb-2">
                        <input type="submit" value="Đăng nhập" class="btn btn-success w-25" />
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

