
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ</h2>
@Html.ActionLink("Quốc gia", "Index", "Country", null, new { @class = "btn btn-warning text-white" })

@Html.ActionLink("Trường học", "Index", "School", null, new { @class = "btn btn-warning text-white" })

@Html.ActionLink("Khách hàng", "Index", "File", null, new { @class = "btn btn-warning text-white" })

@Html.ActionLink("Event", "Index", "Event", null, new { @class = "btn btn-warning text-white" })
