@{
    ViewBag.Title = "Trang chủ";
}
<t name="Homepage" t-name="website.homepage">
    <t t-call="website.layout">
        <t t-set="pageName" t-value="'homepage'" />
        <div id="wrap" class="oe_structure oe_empty">
            <section class="w-100" data-snippet="s_image_text" data-name="Image - Text" style="background-image: none; margin-top: 50px;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 pt16 pb16 o_colored_level">
                            <img src="~/IMG/skysports-sri-lanka-world-cup_6355182.jpg" class="img img-fluid mx-auto img-thumbnail" alt="" style="padding: 15px; " loading="lazy" data-mimetype="image/jpeg" data-original-id="739" data-original-src="/web/image/739-5562bf3c/website.s_image_text_default_image" data-mimetype-before-conversion="image/jpeg" />
                        </div>
                        <div class="col-lg-6 pt16 pb16 o_colored_level">
                            <h2>Sri Lanka bị Hội đồng Hội đồng Cricket Quốc tế đình chỉ do sự can thiệp của chính phủ<br /></h2>
                            <p class="o_default_snippet_text"><br />Các điều kiện đình chỉ của Sri Lanka Cricket sẽ do ICC quyết định, với hội đồng quản trị sẽ họp vào ngày 21 tháng 11; quốc gia này sẽ đăng cai Giải vô địch cricket thế giới U19, bắt đầu từ tháng 1 năm 2024</p><p><br /></p>
                            <p><a href="#" class="btn btn-secondary o_default_snippet_text">Xem Thêm</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s_three_columns o_cc o_cc2 o_colored_level pt64 pb64" style="margin-top:25px;" data-vcss="001" data-snippet="s_three_columns" data-name="Columns">
                <div class="container">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/sancho.jpg" alt="" loading="lazy" />
                                <div class="card-body">
                                    <h3 class="card-title">
                                        "Cậu ấy không có thái độ đúng đắn khi chơi bóng cho Man United"
                                    </h3>
                                    <p class="card-text">
                                        Nhận định về tình hình khó khăn hiện tại của Jadon Sancho, Beth Tucker cho rằng cựu sao Borussia Dortmund không cho thấy thái độ đúng đắn khi chơi bóng cho Manchester United...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/7nui.jpg" alt="" loading="lazy" />
                                <div class="card-body">
                                    <h3 class="card-title">
                                        Ten Hag giải thích lý do bỏ rơi Mount
                                    </h3>
                                    <p class="card-text">Mason Mount trở thành bản hợp đồng đầu tiên của Manchester United trong kỳ chuyển nhượng mùa hè được trao chiếc áo số 7 nổi tiếng sau khi đến Old Trafford từ Chelsea với bản hợp đồng trị giá 55 triệu bảng. Được kỳ vọng nhưng màn trình diễn tệ hại khiến anh mất suất đá chính.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/belnado.jpg" alt="" loading="lazy" />
                                <div class="card-body">
                                    <h3 class="card-title">
                                        'Joker' khiến Liverpool đứng ngồi không yên là ai?
                                    </h3>
                                    <p class="card-text">Đội bóng vùng Merseyside đang để mắt đến ngôi sao trẻ mới nổi ở giải VĐQG Brazil - Lucas Beraldo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s_three_columns o_cc o_cc2 o_colored_level pt64 pb64" data-vcss="001" data-snippet="s_three_columns" data-name="Columns" style="background-image: none; margin-top:20px;">
                <div class="container">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/tot.jpg" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="741" data-original-src="/web/image/741-27359a8f/website.s_three_columns_default_image_1" data-mimetype-before-conversion="image/jpeg" />
                                <div class="card-body">
                                    <h3 class="card-title o_default_snippet_text">
                                        Tottenham nhận tổn thất kép sau trận thua Chelsea
                                    </h3>
                                    <p class="card-text o_default_snippet_text">Trích dẫn từ Metro, HLV Ange Postecoglou tiết lộ tin xấu nhân sự của Tottenham Hotspur. Ở cuộc tiếp đón Chelsea, James Maddison tập tễnh vì chấn thương mắt cá, còn Micky van de Ven vài phút rời sân sau khi bị chấn thương gân kheo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/holjung.jpg" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="742" data-original-src="/web/image/742-4c7deb6b/website.s_three_columns_default_image_2" data-mimetype-before-conversion="image/jpeg" />
                                <div class="card-body">
                                    <h3 class="card-title o_default_snippet_text">
                                        Công khai thái độ nội bộ, Hojlund nói thẳng về trình độ của Ten Hag
                                    </h3>
                                    <p class="card-text o_default_snippet_text">Phát biểu sau trận thua Copenhagen, Rasmus Hojlund khẳng định HLV Erik Ten Hag thực sự là một chiến lược gia đẳng cấp, người đã giúp đỡ anh rất nhiều kể từ thời điểm chuyển đến Old Trafford.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
                            <div class="card text-bg-white h-100" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px !important;">
                                <img class="card-img-top" src="~/IMG/rodrygo.jpg" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="743" data-original-src="/web/image/743-d935e96b/website.s_three_columns_default_image_3" data-mimetype-before-conversion="image/jpeg" />
                                <div class="card-body">
                                    <h3 class="card-title o_default_snippet_text">
                                        Rodrygo: "Một trận đấu hoàn hảo"
                                    </h3>
                                    <p class="card-text o_default_snippet_text">
                                        Trao đổi với trang web chính thức của Real Madrid, ngôi sao người Brazil đã có những chia sẻ đáng chú ý xoay quanh trận thắng Braga.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s_title pt40 pb40 o_colored_level" data-vcss="001" data-snippet="s_title" data-name="Title" style="background-image: none;">
                <div class="container s_allow_columns">
                    <h2 class="display-3-fs o_default_snippet_text" style="text-align: center; margin-top:30px;">Tin tức nổi bật</h2>
                </div>
            </section>
            <section class="s_media_list pt32 pb32 o_colored_level o_cc o_cc2" data-vcss="001" data-snippet="s_media_list" data-name="Media List" style="background-image: none;margin-top:30px; ">
                <div class="container">
                    <div class="row s_nb_column_fixed s_col_no_bgcolor">
                        <div class="col-lg-12 s_media_list_item pt16 pb16" data-name="Media item">
                            <div class="row s_col_no_resize s_col_no_bgcolor g-0 align-items-center o_colored_level o_cc o_cc1 rounded" style="box-shadow: rgba(0,0,0,0.15) 0px 2px 4px 0px !important;">
                                <div class="col-lg-4 align-self-stretch s_media_list_img_wrapper">
                                    <img src="~/IMG/old.jpg" class="s_media_list_img h-100 w-100" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="721" data-original-src="/web/image/721-21b0d678/website.s_media_list_default_image_1" data-mimetype-before-conversion="image/jpeg" />
                                </div>
                                <div class="px-3 col-lg-8 s_media_list_body">
                                    <h3 class="o_default_snippet_text">Top 5 cầu thủ lớn tuổi nhất ghi bàn trong lịch sử Champions League</h3>
                                    <p class="o_default_snippet_text">Bàn thắng muộn của Pepe trong trận đấu giữa Porto và Royal Antwerp đã giúp hậu vệ người Bồ Đào Nha trở thành cầu thủ đầu tiên ghi bàn tại Champions League ở tuổi 40.</p>
                                    <a href="#" class="o_default_snippet_text">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 s_media_list_item pt16 pb16" data-name="Media item" style="margin-top:20px;">
                            <div class="row s_col_no_resize s_col_no_bgcolor g-0 align-items-center o_colored_level o_cc o_cc1 rounded" style="box-shadow: rgba(0,0,0,0.15) 0px 2px 4px 0px !important;">
                                <div class="col-lg-4 align-self-stretch s_media_list_img_wrapper">
                                    <img src="~/IMG/heaton-1053.jpg" class="s_media_list_img h-100 w-100" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="722" data-original-src="/web/image/722-5edc7b3f/website.s_media_list_default_image_2" data-mimetype-before-conversion="image/jpeg" />
                                </div>
                                <div class="px-3 col-lg-8 s_media_list_body">
                                    <h3 class="o_default_snippet_text">3 cầu thủ gần như chắc suất rời Man Utd vào cuối mùa</h3>
                                    <p class="o_default_snippet_text">Cùng điểm qua những cái tên có khả năng cao sẽ nói lời chia tay với Manchester United sau khi mùa giải năm nay khép lại.</p>
                                    <a href="#" class="o_default_snippet_text">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 s_media_list_item pt16 pb16" data-name="Media item" style="margin-top:20px" ;>
                            <div class="row s_col_no_resize s_col_no_bgcolor g-0 align-items-center o_colored_level o_cc o_cc1 rounded" style="box-shadow: rgba(0,0,0,0.15) 0px 2px 4px 0px !important;">
                                <div class="col-lg-4 align-self-stretch s_media_list_img_wrapper">
                                    <img src="~/IMG/alonso.jpg" class="s_media_list_img h-100 w-100" alt="" loading="lazy" data-mimetype="image/jpeg" data-original-id="723" data-original-src="/web/image/723-ac4c2af2/website.s_media_list_default_image_3" data-mimetype-before-conversion="image/jpeg" />
                                </div>
                                <div class="px-3 col-lg-8 s_media_list_body">
                                    <h3 class="o_default_snippet_text">Liệu Bayer Leverkusen có thể vô địch Bundesliga?</h3>
                                    <p class="o_default_snippet_text">Bayer Leverkusen sau 10 vòng đầu Bundesliga đã thắng tới 9 và chỉ đánh rơi 2 điểm trước nhà ĐKVĐ Bayern Munich. Xabi Alonso thực sự đang biến nước Đức nằm trong bàn tay mình.</p>
                                    <a href="#" class="o_default_snippet_text">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s_title pt40 pb40 o_colored_level" data-vcss="001" data-snippet="s_title" data-name="Title" style="background-image: none;">
                <div class="container s_allow_columns">
                    <h2 class="display-3-fs o_default_snippet_text" style="text-align: center; margin-top:30px;">Ảnh nổi bật</h2>
                </div>
            </section>
            <section class="s_title pt40 pb40 o_colored_level" data-vcss="001" data-snippet="s_title" data-name="Title" style="background-image: none;">
                <div class="container s_allow_columns">
                    <h2 class="display-3-fs o_default_snippet_text" style="text-align: center;">Your Site Title</h2>
                </div>
            </section>
            <section class="s_image_gallery o_spc-small o_masonry pt24 pb24 o_colored_level" data-vcss="001" data-columns="3" style="overflow: hidden; background-image: none;" data-snippet="s_images_wall" data-name="Images Wall">
                <div class="container">
                    <div class="row s_nb_column_fixed">
                        <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                            <img class="img img-fluid d-block m-1" src="~/IMG/2-2326.jpg" data-index="0" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="745" data-original-src="/web/image/745-41e60b95/website.library_image_03" data-mimetype-before-conversion="image/jpeg" />
                            <img class="img img-fluid d-block m-1" src="~/IMG/3-2327.jpg" data-index="3" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="746" data-original-src="/web/image/746-21b0d678/website.library_image_10" data-mimetype-before-conversion="image/jpeg" />
                        </div>
                        <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                            <img class="img img-fluid d-block m-1" src="~/IMG/4-2327.jpg" data-index="1" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="747" data-original-src="/web/image/747-67a918f4/website.library_image_13" data-mimetype-before-conversion="image/jpeg" />
                            <img class="img img-fluid d-block m-1" src="~/IMG/7-2327.jpg" data-index="4" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="748" data-original-src="/web/image/748-5edc7b3f/website.library_image_05" data-mimetype-before-conversion="image/jpeg" />
                        </div>
                        <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                            <img class="img img-fluid d-block m-1" src="~/IMG/5-2327.jpg" data-index="2" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="749" data-original-src="/web/image/749-23cca27c/website.library_image_14" data-mimetype-before-conversion="image/jpeg" />
                            <img class="img img-fluid d-block m-1" src="~/IMG/roykean.jpg" data-index="5" data-name="Image" loading="lazy" data-mimetype="image/jpeg" data-original-id="750" data-original-src="/web/image/750-ac4c2af2/website.library_image_16" data-mimetype-before-conversion="image/jpeg" />
                        </div>
                    </div>
                </div>
            </section>  
        </div>
</t>