* {
    box-sizing: border-box;
}
.section {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.img-fixed {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover !important;
}
/* Debug section */
.section { border: 1px solid #f00; }
.container { border: 1px solid #fffa00; }
.container-fluid { border: 1px solid #fffa00; }
.row { border: 1px solid #0f0; }
.col { border: 1px solid #00f; }
[class*="col-"] { border: 1px solid #00f; }