@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <h2 class="text-center text-uppercase">Menu Quản trị viên</h2>
    <h5 class="mt-5 text-center">Chọn menu bên trái để thực hiện chức năng</h5>
</section>



