<ul class="nav-links">
    <li>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="@Url.Action("Index", "Customer")"></a>
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Người dùng</span>
                </a>
            </div>
        </div>
        @*Các mục con*@
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Bản tin</a></li>
        </ul>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="@Url.Action("Index", "Customer")">
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Bản tin</span>
                </a>
            </div>
        </div>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="@Url.Action("Index", "Category")">
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Danh mục</span>
                </a>
            </div>
        </div>
    </li>
</ul>   