<ul class="nav-links">
    <li>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="#">
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Người dùng</span>
                </a>
            </div>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        @*Các mục con*@
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Người dùng</a></li>
            <li><a href="#">Quản lý</a></li>
        </ul>
    </li>
</ul>
<ul class="nav-links">
    <li>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="#">
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Danh mục</span>
                </a>
            </div>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        @*Các mục con*@
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Danh mục</a></li>
            <li><a href="#">Quản lý</a></li>
        </ul>
    </li>
</ul>
<ul class="nav-links">
    <li>
        <div class="iocn-link fs-6">
            <div class="link">
                <a href="#">
                    <!-- Icon -->
                    <i class='bx bxs-calendar-event'></i>
                    <!-- Tên -->
                    <span class="link_name">Bản tin</span>
                </a>
            </div>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        @*Các mục con*@
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Bản tin</a></li>
            <li><a href="#">Quản lý</a></li>
        </ul>
    </li>
</ul>