@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-item">
    <a href="#"></a>
    <img src="~/Images/Banner/Contact.jpg" class="d-block w-100" alt="banner-contact">
</div>
