
@{
    ViewBag.Title = "IELTSExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-item">
    <a href="#"></a>
    <img src="~/Images/Banner/IELTS EXAM.jpg" class="d-block w-100" alt="banner-contact">
</div>

