
@{
    ViewBag.Title = "Person Test of English";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-item">
    <a href="#"></a>
    <img src="~/Images/Banner/Ielts test.jpg" class="d-block w-100" alt="banner-contact">
</div>


