@model TinTuc.Models.NguoiDung

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-uppercase mt-3 mb-3">Đăng nhập</h2>
<hr />
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @using (Html.BeginForm("Login", "Login"))
                {
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label class="mb-2" for="UserName">Tài khoản</label>
                        <input class="form-control" type="text" name="UserName" />
                    </div>
                    <div class="mb-3">
                        <label class="mb-2">Mật khẩu</label>
                        <input class="form-control" type="password" name="Password" />
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-success" type="submit" value="Đăng nhập" /> | 
                        @Html.ActionLink("Đăng ký", "Register", "Login", null, new { @class="btn btn-primary" })  
                    </div>
                }
            <p class="text-danger text-center fs-5">@ViewBag.UserError</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

