* {
    box-sizing: border-box; 
}
.img-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}
.section {
    padding-top: 25px; 
    padding-bottom: 25px; 
    position: relative;
}
.textarea-none textarea {
    resize: none;
}