@model TinTuc.Models.BanTin

@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="col">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="~/Resources/Images/News/@Model.HinhAnh" width="360" style="height: auto;" />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<div class="container m-5">
    <div class="col">
        <h2 class="text-center text-uppercase">@Model.TieuDe</h2>
        <div class="container">
            <div class="m-3 fs-5">
                @Model.NoiDung
            </div>
        </div>
    </div>
</div>

